.hero-body h1,
h2,
.title,
.subtitle
{
    color: #587272 !important;
}


a {
    color: #97A7A7;
}

p a {
    color: #587272;
}

body {
    font-size: 1.2em;
}

.avatar {
    border-radius: 30px;
    box-shadow: none;
}