.hero-body h1,
.hero-body h2,
.hero-body .title,
.hero-body .subtitle
{
    color: #fff !important;
}

h2,
.title,
.subtitle,
p a {
    color: #587272;
}

a {
    color: #97A7A7;
}

body {
    font-size: 1.2em;
}

.avatar {
    border-radius: 30px;
    box-shadow: none;
}

.table {
    width: 70%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table td, .table th{
    padding: .50rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}


.t-center{
    text-align: center !important;
}


.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}